/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Body styles */
body {
  background: rgb(255, 190, 155);
  background: linear-gradient(
    200deg,
    rgba(255, 190, 155, 1) 0%,
    rgb(160, 101, 255) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow: hidden;
}


/* Hamburger menu styles */
.hamburger-wrapper {
  position: absolute;
  
}

.hamburger__span {
  display: block;
  width: 100px;
  height: 100%;
  color: black;
  border-radius: 25px;
}

/* Wrapper styles */
#logo-wrapper {
  display: flex;
  justify-content: center;

  position: relative;
  height: 10vh;
}

/* Circular text styles */
#circle {
  position: absolute;

  color: black;
  font-family: "cousine", monospace;
  letter-spacing: 14px;
  font-size: 1.9rem;

  margin-top: 40px;

  animation: spin 28s linear infinite;
}

/* Text animation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

svg {
  max-height: 140px;
  margin-top: 110px;
  margin-right: 10px;
}

/* Helper classes */
.hide {
  display: none;
}

/* SVG component styles */
#right-eyelid {
  animation: eyelid 18s ease-in-out infinite;
  animation-direction: alternate;
}

#left-eyelid {
  animation: eyelid 18s ease-in-out infinite;
  animation-direction: alternate;
}

#left-eye {
  animation: eyes 18s ease-in-out infinite;
  animation-direction: alternate;
}

#right-eye {
  animation: eyes 18s ease-in-out infinite;
  animation-direction: alternate;
}

/* Logo animation */
@keyframes eyelid {
  0%,
  40.5% {
    opacity: 0;
  }

  40.6%,
  41.5% {
    opacity: 1;
  }

  41.6%,
  42.3% {
    opacity: 0;
  }

  42.4%,
  43.9% {
    opacity: 1;
  }

  44%,
  89.4% {
    opacity: 0;
  }

  89.5%,
  90.9% {
    opacity: 1;
  }

  91%,
  100% {
    opacity: 0;
  }
}

@keyframes eyes {
  0%,
  40.5% {
    opacity: 1;
  }

  40.6%,
  41.5% {
    opacity: 0;
  }

  41.6%,
  42.3% {
    opacity: 1;
  }

  42.4%,
  43.9% {
    opacity: 0;
  }

  44%,
  89.4% {
    opacity: 1;
  }

  89.5%,
  90.9% {
    opacity: 0;
  }

  91%,
  100% {
    opacity: 1;
  }
}

/* #mouth {
  animation: grin 5s linear infinite;
  animation-direction: alternate;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes grin {
  0%, 70% {
    transform: scaleX(1);
  }
  71%, 75% {
    transform: scaleX(1.2);
  }

  76%, 100% {
    transform: scaleX(1);
  }
} 
  #hair {
  animation: bobbing 1s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-direction: alternate;
}

@keyframes bobbing {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-1rem);
  }
} */
