@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,500&display=swap');

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
/*   outline: 1px solid black; */

  --background-clr: linear-gradient(
    220deg,
    rgb(255, 148, 90) 0%,
    rgb(160, 101, 255) 100%
  );
  --secondary-clr: black;
}

/* Helper classes */
.hidden {
  display: none;
}

/* Section styles */
body {
  background: var(--background-clr);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

footer {
  position: sticky;
  top: 100vh;
  margin-bottom: 15px;

  display: grid;
  place-content: center;
}

/* Hamburger menu styles */
.hamburger-menu {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 50px;
  right: 50px;
}

.hamburger-menu__span {
  display: block;
  
  width: 50px;
  height: 4px;
  background-color: var(--secondary-clr);
  border-radius: 25px;

  margin: 4px 0px;
}

/* Wrapper styles */
#logo-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Circular text styles */
#circle-text {
  margin-top: 10px;

  color: var(--secondary-clr);
  font-family: "Cousine", monospace;
  letter-spacing: 11px;
  font-size: 1.6rem;

  animation: spin 35s linear infinite;
}

/* Complete SVG styles */
#logo {
  position: absolute;
  height: 120px;
  margin-right: 5px;
}

#introduction {
  margin: 60px;
  text-align: center;
  font-size: 1.8rem;
}

.text-link {
  font-size: 1.4rem;
  color: var(--secondary-clr);
}

.text-link:hover {
  transform: scaleX(2);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--secondary-clr);
}

#email-link {
  color: var(--secondary-clr);
  text-decoration: none;
}

ion-icon {
  font-size: 32px;
  color: var(--secondary-clr);
}

/* SVG component styles */
#right-eyelid {
  animation: eyelid 18s ease-in-out infinite;
  animation-direction: alternate;
}

#left-eyelid {
  animation: eyelid 18s ease-in-out infinite;
  animation-direction: alternate;
}

#left-eye {
  animation: eyes 18s ease-in-out infinite;
  animation-direction: alternate;
}

#right-eye {
  animation: eyes 18s ease-in-out infinite;
  animation-direction: alternate;
}

/* Animation styles */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes eyelid {
  0%,
  40.5% {
    opacity: 0;
  }

  40.6%,
  41.5% {
    opacity: 1;
  }

  41.6%,
  42.3% {
    opacity: 0;
  }

  42.4%,
  43.9% {
    opacity: 1;
  }

  44%,
  89.4% {
    opacity: 0;
  }

  89.5%,
  90.9% {
    opacity: 1;
  }

  91%,
  100% {
    opacity: 0;
  }
}

@keyframes eyes {
  0%,
  40.5% {
    opacity: 1;
  }

  40.6%,
  41.5% {
    opacity: 0;
  }

  41.6%,
  42.3% {
    opacity: 1;
  }

  42.4%,
  43.9% {
    opacity: 0;
  }

  44%,
  89.4% {
    opacity: 1;
  }

  89.5%,
  90.9% {
    opacity: 0;
  }

  91%,
  100% {
    opacity: 1;
  }
}